header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}

.header-logo {
    color: #0c0c86;
    font-weight: bold;
    margin-left: 30px;
}

.header-menu {
    display: flex;
}

.header-menu-list {
    list-style-type: none;
    margin: 15px;
}

.header-menu-list a {
    text-decoration: none;
    color: #0c0c86;
}

.main-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 100px;
    position: relative;
}

.main-right {
    height: 380px;
    width: 50%;
    background-image: url(img/firstview.jpeg);
    background-size: cover;
    color: #fff;
}

.main-left {
    width: 70%;
    border-bottom: solid 180px #0c0c86;
    position: absolute;
    top: 65%;
    left: 0;
    z-index: -1;
}

.main-left-text {
    font-size: 50px;
    line-height: 1em;
}